.jumbotron {
  background-color: rgba(8, 53, 75, 9.5);
  min-height: 10%;
  border: none; !important;
  margin-bottom: 0;
}

.logo-img {
  width: 150px;
}

.redes-sociales {
  float: right !important;
  margin: auto 0;
}

.img-social {
  width: 30px;
  height: 30px;
}

.img-banda {
  width: 100%;
}

.menu {
  background-color: #0059bc;
}

footer {
  background-color: rgba(8, 53, 75, 9.5);
  height: 4rem;
  margin-top: 20px;
}

.historia-bf {
  margin-bottom: 40px;
}

